<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://JAVA.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
 
         
  <display-name>TP4_war_exploded</display-name>

  <!-- Servlet controleur de Struts -->
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>controllers.FrontController</servlet-class>
    <init-param>
      <param-name>imagesFolder</param-name>
      <param-value>/images</param-value>
    </init-param>
  </servlet>

  <!-- Mapping des url avec la servlet -->
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/gallery</url-pattern>
  </servlet-mapping>

  <!-- page d'accueil de l'application -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>